<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Registerservlet</display-name>
    <servlet-name>Registerservlet</servlet-name>
    <servlet-class>com.servlet.Registerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registerservlet</servlet-name>
    <url-pattern>/Registerservlet</url-pattern>
  </servlet-mapping>
  <display-name>Login_register_servlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Loginservlet</display-name>
    <servlet-name>Loginservlet</servlet-name>
    <servlet-class>com.servlet.Loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginservlet</servlet-name>
    <url-pattern>/Loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edituserservlet</display-name>
    <servlet-name>Edituserservlet</servlet-name>
    <servlet-class>com.servlet.Edituserservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edituserservlet</servlet-name>
    <url-pattern>/Edituserservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deleteuserservlet</display-name>
    <servlet-name>Deleteuserservlet</servlet-name>
    <servlet-class>com.servlet.Deleteuserservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleteuserservlet</servlet-name>
    <url-pattern>/Deleteuserservlet</url-pattern>
  </servlet-mapping>
</web-app>